.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #45484c;
  min-height: 10vh;
  display: flex;
  align-items: center;
  font-size: calc(5px + 2vmin);
  color: white;
  margin-top: 20px;
  width: 100%;
}

.App-link {
  color: #61dafb;
}

.report-header-left {
  display: inline-block;
  width: 25%;
  font-size: medium;
}

.report-header-center {
  width: 50%;
}

.report-header-right {
  width: 25%;
}

table {
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

td {
  border: 1px solid #ddd;
  padding: 8px;
}

th {
  border: 1px solid #ddd;
  padding: 8px;
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
